{% extends "base.html" %} {% block content %}
  
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>{{title}}</li>
        </ol>
        <h2>{{title}}</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
         <div class="row justify-content-center">
              <div class="col-lg-12 text-center">
                  <h4>{{description}}
              </div>
         </div>
         <div class="cancer_predict mt-2 pt-2" class="ex-basic-2 ">
           <div class = "container">
              <form id="cancer_predict_form" name="cancer_predict_form" class="col-md-12" action="{{url_for('check_cancer')}}" method="POST">
                <div class="row gy-4"> 
                       
                       <!--  -->
                       <div class="col-md-6">
						   <input name="radius_mean" type="text" class="form-control" id="radius_worst" placeholder="Radius Mean">
                       </div>
                       <div class="col-md-6">
							<input name="radius_se" type="text" class="form-control" id="radius_mean" placeholder="Radius Se">
                       </div>
                       
                       <!--  -->
                       <div class="col-md-6">
							<input name="compactness_mean" type="text" class="form-control" id="concave_points_worst" placeholder="Compactness Mean">
                       </div>
                       
                       <div class="col-md-6">
						   <input name="compactness_se" type="text" class="form-control" id="concave_points_mean" placeholder="Compactness Se">
                       </div>
                       
                       <!--  -->
                       <div class="col-md-6">
							<input name="fractal_dimension_mean" type="text" class="form-control" id="concavity_worst" placeholder="Fractol Dimension Mean">
                       </div>
                       <div class="col-md-6">
							<input name="fractal_dimension_se" type="text" class="form-control" id="concavity_mean" placeholder="Fractol Dimension Se">
                       </div>
                       
                       <!--  -->
                       <div class="col-md-6">
						   <input name="texture_mean" type="text" class="form-control" id="primeter_worst" placeholder="Texture Mean">
                       </div>
                       
                       <div class="col-md-6">
						   <input name="texture_se" type="text" class="form-control" id="perimiter_mean" placeholder="Texture Se">
                       </div>
                       
                       <!--  -->
                       <div class="col-md-6">
							<input name="smoothness_mean" type="text" class="form-control" id="area_worst" placeholder="Smoothness Mean">
                       </div>
                       <div class="col-md-6">
							<input name="smoothness_se" type="text" class="form-control" id="area_mean" placeholder="Smoothness Se">
                       </div>
                       
                       <!--  -->
                       <div class="col-md-6">
						   <input name="symmetry_mean" type="text" class="form-control" id="texture_worst" placeholder="Symmetry Mean">
                       </div>
                       
                       <div class="col-md-6">
						   <input name="symmetry_se" type="text" class="form-control" id="texture_mean" placeholder="Symmetry Se">
                       </div>
                       
                       <div class="col-md-6">
							<button type="submit" class="btn btn-outline-primary">Predict Cancer</button>
                       </div>
                       <div class="col-md-10">
                           <h1>{{prediction_text}}</h1>
                       </div>
                       
                        
                </div>
              </form>   
           </div>
         </div>
    </section>

  </main><!-- End #main -->
  
   {% endblock %}